 body {
    height: 100%;
    width: 100%;
    background-color: blue
    
    
  }
  section{
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
    
  }

   h1 {
    padding-left: 30px;
    color: white;
    }
    


    .fom{
        background-color: rgb(0, 132, 162);
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0 2px 5px ;
        width: 200px;}
    
  

  #lname {
    margin-top: 20px;
  }
  #email{
    margin-top: 20px;
  }
  #pwd{
    margin-top: 20px;
  }
  
  


  button{
    background-color: black;
    color: aliceblue;
    margin-top: 20px;
  }
